*.swp
*.log
*.swo
*.swn
*.swm
*.swl
*.swj
*.swk
*.pyc
*.pyo
*.orig
*.pydevproject
*~
*.nnmc
*.ofn
tags
build-*
softwares
dumps
game_simulator/main/robots.cfg
.cproject
.project
.idea
.tags*
cscope*
utils/behaviourUtils/build/
GameController*
bin/error.txt
logs/
.vscode/
.qi/
ml_models/*
*.gmm
*.pca
# extra software we build like valgrind & flite
/image/home/nao/2.8
# qt (offnao and vatnao) seem to litter this wherever you run it
fontconfig
